:root{
    --main-color:#263238;
    --title-color:#000000;;
    --skills-bg:#F5F5F5;
    --text-color:#8F95A5;
    
}


html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


address {
    font-style: normal;

}

/* Hero */
.hero {
  background-color: var(--accent-color);
  text-align: center;
  padding-bottom: 180px;
  padding-top: 55px;
  display: flex;
  }

.hero-title {
color: var(--main-bgd-color);
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 80px;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero-title > p {
font-family: 'Poppins';
font-size: 24px;
line-height: 36px;
color: #8F95A5;
width: 540px;
height: 108px;
}

/* button */
.button {  
  color: #FFFFFF;
  background-color: var(--main-color);
  font-style: normal;
line-height: 1.5;
text-align: center;
letter-spacing: 0.03em;
font-weight: 400;

  align-items: center;
  width: 426px;
  height: 100px;

  display: inline-block;
  border-radius: 10px;
  }

  
  
    
 